@use "global" as *;
.header {
  //   width: 100%;
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 51, 51, 1);
  margin-bottom: rem(50);
  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
    margin: rem(50) auto;
    // margin-bottom: rem(50);
  }
}

.header__wrapper {
  margin: 0 rem(20);
  background: rgba(255, 136, 255, 1);
  @include mq(md) {
  }
}
